<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name ="HitTechDB_Connection" connectionString="Data Source=NOUR-ALSHAR\MSSQLSERVER2017;Initial Catalog=HitTechDB;User ID=sa;Password=204060Mo"/>
	</connectionStrings>
</configuration>